/* subscribe page content CSS */
.row-container {
  padding-left: 8%;
  padding-right: 8%;
}
.row-container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.col-1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-1 h2 {
  font-size: 54px;
}
.col-1 h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}
.col-1 p {
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}
.col-1 h4 {
  margin: 30px 0;
  font-size: 20px;
}
button {
  width: 143px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #ffffff;
  background: #203464;
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.6s;
}
button img {
  width: 17px;
  display: none;
}
button:hover img {
  display: block;
}
button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col-1::after {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(#203464, #ffffff);
  position: absolute;
  left: -40px;
  top: 8px;
}
.col-2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.col-2 .subs-icon {
  width: 80%;
}
.color-box {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to right, #203464, #ffffff);
  border-radius: 0 0 0 50px;
  height: 100%;
  width: 30%;
  z-index: -1;
  transform: translateX(175px);
}
.rates-btn img {
  width: 35px;
  margin-bottom: 5px;
}
.rates-btn {
  text-align: center;
  margin: 250px 0 30px 0;
}

@media only screen and (max-width: 600px) {
  nav ul {
    width: 100%;
    background: linear-gradient(#203464, #ffffff);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #000000;
    font-family: sans-serif;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    overflow: hidden;
    transition: 0.4s;
  }
  .logo {
    width: 55%;
  }
  .row {
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .col-2 {
    flex-basis: 100;
    margin-bottom: 50px;
  }
  .col-2 .subs-icon {
    width: 77%;
  }
  .color-box {
    border-radius: 0 0 0 30px;
    height: 100%;
    width: 35%;
    transform: translateX(75px);
  }
  .rates-btn img {
    width: 25px;
    margin-bottom: 3px;
  }
  .rates-btn {
    font-size: smaller;
    text-align: center;
    margin: 50px 35px 35px 0;
  }
  .col-1 {
    flex-basis: 100%;
  }
  .col-1 h2 {
    font-size: 25px;
  }
  .col-1 h3 {
    font-size: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (orientation: landscape) {
  .col-2 .color-box {
    border-radius: 0 0 0 60px;
    height: 100%;
    width: 33%;
    transform: translateX(175px);
  }
  .rates-btn img {
    width: 30px;
    margin-bottom: 3px;
  }
  .rates-btn {
    font-size: large;
    text-align: center;
    margin: 100px 70px 25px 30px;
  }
  .logo {
    width: 30%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .color-box {
    border-radius: 0 0 0 30px;
    height: 100%;
    width: 55%;
    transform: translateX(175px);
  }
  .rates-btn img {
    width: 35px;
    margin-bottom: 3px;
  }
  .rates-btn {
    font-size: large;
    text-align: center;
    margin: 100px 140px 40px 20px;
  }
  .logo {
    width: 30%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .color-box {
    border-radius: 0 0 0 30px;
    height: 100%;
    width: 55%;
    transform: translateX(175px);
  }
  .rates-btn img {
    width: 35px;
    margin-bottom: 3px;
  }
  .rates-btn {
    font-size: large;
    text-align: center;
    margin: 200px 25px 40px 25px;
  }
  .logo {
    width: 20%;
  }
}
