<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="../media/icons/favicon.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Noto+Serif+Display&family=Poppins:wght@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/subscribe-stylesheet.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Bangkok Post - Breaking News | Thailand News | Worldwide News</title>
</head>

<body>
    <div class="container">
        <div class="navbar-container">
            <div class="navbar">
                <img onclick="window.location.href='../home-page.html'" src="../media/icons/BP-logo.png" class="logo">
                <nav>
                    <ul id="menuList">
                        <li><a href="../component/thailand-news.html">THAILAND</a></li>
                        <li><a href="../component/world-news.html">WORLD</a></li>
                        <li><a href="../component/economic-news.html">ECONOMIC</a></li>
                        <li><a href="../component/subscribe.html">SUBSCRIBE</a></li>
                    </ul>
                </nav>
                <img src="../media/icons/menu-icon.png" class="menu-icon" onClick="toggleMenu()" />
            </div>
        </div>

        <div class="row-container">
            <div class="row">
                <div class="col-1">
                    <h2>E-Paper/<br>Home Delivery</h2>
                    <h3>In-depth and insightful <br>news paper delivered to your doorstep/digitally</h3>
                    <p>(E-reader compatible)</p>
                    <h4>Starts at ฿900/m.</h4>
                    <button type="button">Subscribe now<img src="../media/icons/arrow-icon.png"></button>
                </div>
                <div class="col-2">
                    <img src="../media/icons/subscribe-icon.png" class="subs-icon">
                    <div class="color-box">
                        <div class="rates-btn">
                            <img src="../media/icons/add-icon-BW.png" />
                            <p><small>See rates</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4><a href="/home-page.html"> <img src="../media/icons/BP-logo.png" style="width: 10rem;"></a></h4>
                        <ul>
                            <li><a href="./thailand-news.html">THAILAND</a></li>
                            <li><a href="./world-news.html">WORLD</a></li>
                            <li><a href="./economic-news.html">ECONOMIC</a></li>
                            <li><a href="./subscribe.html">SUBSCRIBE</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="https://www.facebook.com/bangkokpost"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/bangkokpostnews"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/bangkokpost_official/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        var menuList = document.getElementById("menuList");
        menuList.style.maxHeight = "0px"

        function toggleMenu() {
            if (menuList.style.maxHeight == "0px") {
                menuList.style.maxHeight = "130px"
            } else {
                menuList.style.maxHeight = "0px"
            }
        }

    </script>

</body>

</html>